$width: 300px;
$max-height: 150px;

@mixin container {
  z-index: 9998;
  position: fixed;
  overflow-y: auto;
  max-height: 100vh;
  &::-webkit-scrollbar {
    display: none;
  }     
}

@keyframes notification-show {
    0% { opacity: 0; transform: perspective($width) translate(0, -30px) rotateX(90deg); }
  100% { opacity: 1; transform: perspective($width) translate(0, 0) rotateX( 0deg); }
}

@keyframes notification-hide {
    0% { opacity: 1; transform: scale( 1); }
  100% { opacity: 0; transform: scale(.8); }
}

@keyframes notification-shrink {
    0% {  opacity: 0; max-height: $max-height; transform: scale(.8); }
  100% {  opacity: 0; max-height: 0;           transform: scale(.8); }
}

.wrapper {
  display: flex;  
  padding: 10px;
  font-size: 1.2em;
  min-height: 0;
  flex-direction: inherit       
}

.containerTopRight {
  @include container;
  top: 0;
  right: 0;
  flex-direction: column;
}

.containerBottomRight {
  @include container;
  right: 0;
  bottom: 0;
  flex-direction: column-reverse;
}

.containerBottomLeft {
  @include container;
  left: 0;
  bottom: 0;
  flex-direction: column-reverse;
}

.containerTopLeft {
  @include container;
  top: 0;
  left: 0;
  flex-direction: column;
}

.enter {
  animation: notification-show .16s cubic-bezier(0.175, 0.885, 0.32, 1.27499);
}

.leave {
  animation: notification-hide   .24s      cubic-bezier(0.33859, -0.42, 1, -0.22),
             notification-shrink .24s .24s cubic-bezier(0.5, 0, 0, 1);
}

